<div>
	<div class="grey lighten-4 title">
	  <div class="container nav-container">
	    <div class="row" style="height:100%;">
	      <div class="col-lg-12 nav-wrapper">
	        <div>
	          <a href="/" class="brand-logo text-darken-2" title="A curation of free, responsive Bootstrap themes">
	            Spring
	            <span class="grey-text text-lighten-1 hide-on-small-only">Board</span>
	          </a>
	        </div>
	        <div class="subheading">
	          <span>Learning Hub — one stop hub for all the learning paths!</span>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div ui-view />
</div>
